[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask-sqlalchemy = "*"
sqlalchemy = "*"
flask = "*"
flask-cors = "*"
flask-wtf = "*"
wtforms = "*"

[requires]
python_version = "3.8"
