.login-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    line-height: 1;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    color: rgb(255, 255, 255);
    background-color: #15212B;
}

.login-block-header {
    margin: 30px 0px 10px;
    cursor: default;
}

.login-block {
    display: flex;
    flex-flow: column;
    height: 100vh;
    width: 100%;
    background-color: #15212B;
    align-items: center;
    margin: 20px 86px 0px;
    padding: 0 15px;
}

.bird{
  height: 30px;
  margin-top: 10px;
  fill: white;
  position: relative;
  top: -5px;
}

.login {

}

.login-form {
    display: flex;
    flex-flow: column;
    align-items: center;
    /* width: 50px; */
}

.login-input-field {
    margin: 5px;
    padding: 10px 15px;
    color: #20A2F1;
    background-color: #192834;
}

.login-button {
    border: 0px;
	border-radius:25px;
    margin: 7px;
    padding:5px 76px;
    background-color: #20608E;
    color: #8A8F94;
    font-size: 10px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
}

.login-button:hover {
    color: white;
	background-color:#1C92DA;
}
.login-button:active {
	position:relative;
	top:1px;
}

.login-footer {
    color: #8A8F94;
    font-size: 8px;
    font-style: none;
}

.login-footer:hover {
    color: white;
    cursor: default;
}
