@media screen and (max-width: 1265px){
  #main-c{
    width: 1050px;
  }
  #main-c__left{
    width: 70px;
  }
  .main-c__left__link span{
    display: none ;
  }
  .main-c__left-c__link-black span{
    display: none ;
  }
  #hash-c{
    width:40px;
  }
  #bell-c{
    width: 40px;
    position: relative;
    left: -5px;
  }
  #envelope-c{
    width: 40px;
    position: relative;
    left: -5px;
  }
  #bookmark-c{
    width: 40px;
    position: relative;
    left: -5px;
  }
  #paper-c{
    width: 40px;
    position: relative;
    left: -5px;
  }
  #person-c{
    width: 40px;
    position: relative;
    left: -5px;
  }
  #circles-more-c{
    width: 40px;
    position: relative;
    left: -5px;
  }
  #tweet-button{
    width: 50px;
  }
  #tweet-button span{
    display: none;
  }
  .feather{
    width: 25px;
    height: 25px;
    fill: white;
  }
  #main-c__left__login{
    width: 50px;
    border: 1px solid blue;
  }
  .profile-bubble{
    margin-left: 5px;
  }
  .user-names, .user-names__span1, .user-names__span2{
    display: none;
  }
  .down-carrot{
    visibility: hidden;
  }


 

}