.reply-modal-c {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    top: 0px;
    left: 0px;
}

.reply-modal-background {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #3A2928;
  z-index: 0;
  opacity: 80%;
}

.reply-form-background {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    position: relative;
    margin: auto;
    top: 50px;
    height: 50vh;
    width: 50vw;
    border-radius: 20px;
    background-color: white;
    z-index: 1;
}

.reply-form-header {
  position: relative;
  display: flex;
  flex-flow: row;
  justify-content: left;
  width:100%;
  min-height: 50px;
  z-index: 1;
  border-bottom: 2px solid lightgrey;
}

.close-button{
  width: 25px;
  height: 25px;
  fill:  rgba(29,161,242,1.00);
  margin-left: 25px;
}

.reply-form-textarea {
    position: relative;
    font-weight: 400;
    background-color: lightgrey;
    color: black;
    font: 14px "Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
    z-index: 1;
    border: none;
    outline: none;
    resize: none;
}


.tweet-pic {
  z-index: -1;
}

.tweet-c__comment {
  z-index: -1;
}

.visible{
  display: block;
}
.hidden{
  display: none;
}
