.reply-modal-c {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    top: 0px;
    left: 0px;
}

.reply-modal-background {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #3A2928;
  z-index: 0;
  opacity: 80%;
}

.reply-form-background {
    display: flex;
    flex-flow: column;
    justify-content: start;
    position: relative;
    margin: auto;
    top: 50px;
    height: 60vh;
    width: 60vw;
    border-radius: 20px;
    background-color: white;
    z-index: 1;
}

.reply-form-header {
  position: relative;
  display: flex;
  flex-flow: row;
  justify-content: left;
  width:100%;
  min-height: 50px;
  z-index: 1;
  border-bottom: 2px solid lightgrey;
}

.reply-form-tweet-info {
  display: flex;
  flex-flow: row;
}

.reply-form-tweet-info__side-panel {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 7px;
}

.user__profile-pic-reply {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin: auto;
  padding: 3px;
}

.reply-form-tweet-info__side-border {
  min-height: 50px;
  border: 1px solid lightgrey;
}

.reply-form-tweet-content {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  padding-top: 7px;
  padding-bottom: 12px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
}

.reply-form-tweet-content__header {
  padding-bottom: 2px;
}

.reply-form-tweet-content__footer {
  padding-top: 10px;
  padding-bottom: 15px;
}

.tweet-content__username {
  font-weight: bold;
}

.tweet-content__email {
  color: rgb(155, 155, 155);
}

.reply-close-c {
  min-width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-button{
  width: 25px;
  height: 25px;
  fill:  rgba(29,161,242,1.00);
  padding: 7px;
  border-radius: 999px;
}

.reply-form-userlink{
  color: rgba(29,161,242,1.00);
  text-decoration: none;
}


.close-button:hover {
  background-color:  rgb(226, 242, 253);
}


.reply-form-response {
  display: flex;
  flex-flow: row;
}

.reply-form-response__side {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-right: 7px;
  padding-left: 7px;
}

.reply-form-response__content {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width: 85%;
  min-height: 100%;
}

.reply-form-response__side-spacer {
  min-height: 240px;
}

.reply-form-textarea {
    position: relative;
    font-weight: 400;
    background-color: white;
    color: black;
    font: 18px "Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
    width: 100%;
    height: 100%;
    padding: 7px;
    z-index: 1;
    border: none;
    outline: none;
    resize: none;
}

.reply-form-response__footer {
  display:flex;
  flex-flow: row;
  justify-content: space-between;
  width: 100%;
  padding: 5px;
}

.reply-form-submit {
  border-radius:25px;
  border: 0;
  width: 80px;
  height: 40px;
  background-color: rgb(27, 155, 235);
  color: white;
  font-size: 15px;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
}

.reply-form-submit:hover {
  background-color: rgb(101, 192, 248)
}

.tweet-pic {
  z-index: -1;
}

.tweet-c__comment {
  z-index: -1;
}

.visible{
  display: block;
}
.hidden{
  display: none;
}

.landscape-reply{
  height: 23px;
  fill: rgba(29,161,242,1.00);
  margin: -10px 0px 0px 4px;
  padding: 7px;
  border-radius: 999px;
  transition: background-color;
  transition-duration: .2s;
}
.landscape-reply:hover{
  background-color: rgb(226, 242, 253);
}

.smiley{
  height: 23px;
  fill: rgba(29,161,242,1.00);
  margin: -10px 0px 0px 4px;
  padding: 7px;
  border-radius: 999px;
  transition: background-color;
  transition-duration: .2s;
}
.smiley:hover{
  background-color: rgb(226, 242, 253);
}