.tweet-left-arrow-c{
  display: flex;
  align-items: center;
  width: 200px;
}
.tweet-left-arrow-c span{
  position: relative;
  left: 10px;

}
#tweet-panel__below-nav{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-y: auto;
  position: relative;
}
.tweet-panel__below-nav__scroll{
  height: 750px;
  width: 100%;
  position: relative;
}

