#profile-pic-upload-modal__top{
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile-bubble-5{
  position: relative;
  top: 80px;
  width: 115px;
  height: 115px;
  border-radius: 100%;
  margin: 13px 0px 0px 15px;
  border: 4px solid white;
  background-image: url(../images/ProfileImages/p7.jpg);
  background-size: cover;
}
.camera {
  height: 20px;
  filter: invert();
}
#camera-1 {
  position: fixed;
  left: calc(50% - 12px);
  top: 170px;
  
}
#camera-2 {
  position: fixed;
  top: 283px;
  left: calc(50% - 185px);
}
#profile-pic-upload-modal {
  position: fixed;
  top: 30px;
  height: 500px;
  width: 500px;
  background-color: white;
  border-radius: 20px;
  z-index: 2;
}
#profile-pic-upload-modal-background{
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  background-color: rgb(0, 0, 0, .8);
  z-index: 1;
}

#center-panel-tweet__nav{
  width: 100%;
  height: 50px;
  border-bottom: 1px solid rgb(233, 232, 232);
  display: flex;
  justify-content: flex-start;
  align-items: center;

}
#center-panel-tweet__nav span{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin-left: 15px;
}
.left-arrow{
  width: 25px;
  height: 25px;
  fill:  rgba(29,161,242,1.00);
  margin-left: 25px;
}
#profile-banner{
  width: 100%;
  height: 200px;
  /* background-image: url(../images/skeletorBattle.jpg); */
  background-image: url(../images/defaultBackground.jpg);
}
#profile-panel__below-nav__profile-bublle-c{
  width: 90px;
  height: auto;
  position: absolute;
  top: 110px;
}
.profile-bubble-4{
  width: 125px;
  height: 125px;
  border-radius: 100%;
  margin: 13px 0px 0px 15px;
  border: 4px solid white;
  background-image: url(../images/ProfileImages/p7.jpg);
  /* background-position: center; */
  background-size: cover;
}
.profile-bubble-3:hover{
  filter: brightness(80%);
}
.textarea-hide{
  display: none;
}
#edit-profile-button{
  width: 110px;
  height: 35px;
  border-radius: 999px;
  border: 1px solid rgba(29,161,242,1.00);
  color: rgba(29,161,242,1.00);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  font-weight: 600;
  position: relative;
  top: 10px;
  left: 470px;
  transition-property: background-color;
  transition-duration: .2s;
}
#edit-profile-button:hover{
  background-color: rgb(212, 226, 235);
}
.below-tweet-nav-section-2{
  height: 150px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border-bottom: 1px solid rgb(223, 222, 222);
}
.profile-user-name{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin-left: 15px;
  position: relative;
  top: 60px;
  left: -110px;
}
.profile-chatter-name{
  position: relative;
  top: 83px;
  left: -250px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  color: grey;
}
.profile-bio{
  position: absolute;
  top: 315px;
  left: 19px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  font-size: 15px;
  margin-right: 30px;
}
#edit-profile-button:hover{
  cursor: not-allowed;
}